<footer class="md:container mt-16 md:mx-auto px-2">
  <nav class="flex flex-row flex-wrap justify-center md:justify-start mb-8">
    {% for i in site.data.some_nav %}
      <a
        class="flex items-center bg-pioco-orange hover:bg-pioco-dark text-white leading-none text-3xl mt-2 mr-2 p-3"
        href="{{ i.link }}"
        target="_blank"
      >
        <i class="{{ i.icon }}"></i>
        <span class="sr-only">{{ i.title }}</span>
      </a>
    {% endfor %}
  </nav>
  <nav class="flex flex-col md:flex-row flex-wrap items-center justify-center md:justify-start">
    {% for i in site.data.bottom_nav %}
      <a
        class="text-pioco-dark hover:text-pioco-orange leading-none font-serif font-normal mb-4"
        href="{{ i.link }}"
        {% if i.open_in_new_window == true %} target="_blank" {% endif %}
      >
        {{ i.title }}
        {% if i.open_in_new_window == true %}
          &nbsp;<i class="fas fa-external-link-alt"></i>
        {% endif %}
      </a>
      {% if i != site.data.bottom_nav.last %}
        <span class="px-2 mb-4 hidden md:block">|</span>
      {% endif %}
    {% endfor %}
  </nav>
</footer>
