<header class="site-header">
  <div class="md:container mx-4 md:mx-auto">
    <nav class="flex flex-row flex-wrap justify-start">
      {% for i in site.data.primary_nav %}
        <a href="{{ i.link }}"
          class="flex items-center font-bold text-base md:text-lg font-sans mt-2 mr-2
            {% if i.icon %}
              bg-pioco-orange
            {% else %}
              p-4 text-white
              {% if page.url contains i.link %}
                bg-pioco-blue
              {% else %}
                bg-pioco-orange
              {% endif %}
            {% endif %}"
          {% if i.open_in_new_window == true %} target="_blank" {% endif %}
        >
          {% if i.icon %}
            <img class="h-16 w-16" src="{{ i.icon }}"/>
          {% else %}
            {{ i.title }}
          {% endif %}
          {% if i.open_in_new_window == true %}
            &nbsp;<i class="fas fa-external-link-alt"></i>
          {% endif %}
        </a>
      {% endfor %}
    </nav>
    <img class="my-32 hidden md:block" src="/assets/images/Logo-Slogan-Color.png" alt="Pioco ry logo" />
  </div>
</header>
