@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom CSS to this file, not main.css which is built with `npm run build` */

* {
  @apply transition-colors;
  @apply ease-in-out;
  @apply duration-200;
}

@media (prefers-reduced-motion) {
  * {
    @apply transition-none;
  }
}

.site-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(/assets/images/background.jpg);
}
