<!DOCTYPE html>

<html>
  <head>
    <title>Pioco ry -- Akateemisen ATK:n asialla</title>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/favicon.ico?"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="m-4">
    {% include header.html %}

    <main class="md:container my-8 md:mx-auto">{{ content }}</main>

    {% include footer.html %}
  </body>
</html>
