<!DOCTYPE HTML>

<html>
  <head>
	<title>Pioco ry -- Akateemisen ATK:n asialla</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl}}/favicon.ico?">
</head>

<body>
  {% include header.html %}
  {{ content }}
</body>
</html>