<!DOCTYPE HTML>

<html>
  <head>
	<title>Pioco ry -- Akateemisen ATK:n asialla</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/4.3.1/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl}}/favicon.ico?">
    <link rel="stylesheet" type="text/css" href="/assets/christmas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  {% include header.html %}
  {{ content }}
</body>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/axios/dist/axios.standalone.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/CryptoJS/components/hmac.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/url-template/url-template.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/lib/apiGatewayCore/utils.js"></script>
<script type="text/javascript" src="/assets/apiGateway-js-sdk/apigClient.js"></script>
<script type="text/javascript">
  var apidata;
  var apigClient = apigClientFactory.newClient({
      apiKey: 'bh5aopzE0e33PPLGb17At6xskGFfKCBi6gIrxRBV'
  });
  apigClient.christmasCalendarGet()
    .then(function(result){
        apidata = result.data;
        console.log(apidata);
        apidata.calendar_doors.map(
          day => 
          { Array.prototype.map.call(document.getElementsByClassName("day-"+day.key),
            item => 
              { Array.prototype.map.call(item.getElementsByClassName("back"),
                door => 
                  { door.innerHTML = '<a href="' + day.link + '" target="_blank"><i class="fas fa-link"></i></a>';
                });
              }
            );
            Array.prototype.map.call(document.getElementsByClassName("checkbox-day-"+day.key),
            item => 
              {
                item.disabled = false;
              })
        });
    }).catch( function(error){
      console.log(error);
    });
</script>
</html>